{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block body %}

<div class="parallax1">
    <div class="heading">
        Event Booking System for colleges
    </div>
</div>

<section class="desc" id="one">
    <br>
    <div class="flexbox1">
        <div class="common s-1">
            <img src="/static/images/event-booking-white.jpg">
        </div>
        <div class="common s-2">
            <img src="https://raw.githubusercontent.com/humairafathima/fcc-projects/master/stylesheet/resource/s-2.png" alt="orderlogo">
            <section>
                <h3> Online Order and Fast delivery</h3>
            <p>We take online orders and have the fastest delivery time. No matter where you are, we will get there!</p>
            </section>
        </div>
        <div class="common s-3">
            <img src="https://raw.githubusercontent.com/humairafathima/fcc-projects/master/stylesheet/resource/s-3.png" alt="eventlogo">
            <section>
                <h3>Event Management</h3>
            <p>We also offer Event management service that include everthing realtod to decor and arrangements that are flower oriented.</p>
            </section>
        </div>
        <div class="common s-4">
            <img src="https://raw.githubusercontent.com/humairafathima/fcc-projects/master/stylesheet/resource/s-4.png" alt="flowerlogo">
        </div>
    </div>
</section>

    <section class="eventmgt" id="five">
        <div class="two-column">
                <h2>Event management</h2>
        </div>
        <div class="two-column">
            <p>We also specialize in Event-Venue decorations. We have a great repertoire of designs to suit all kinds of events. Just leave it to us!</p>
        </div>
    </section>
{% endblock %}